<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      } 
    </style>
  </head>
  <body>
  <header class="navbar navbar-fixed-top "> 
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "e-Kevin.com", '#', id: "logo" %>
      </div>
    </div>
  </header>
  <div class="container" style="width:100%">
    <%= yield %>
  </div>
</body>
</html>
